    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing:border-box; 
}

body {
    background-color: #fff;
    color: #777;
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.font-josefin {
    font-family: 'Josefin Sans', sans-serif;
}

p {
    line-height: 20px;
    margin-bottom: 20px;
}
h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    font-size: 80px;
    margin-bottom: 20px;
    text-align: center;

}
h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    font-size: 45px;
    text-align: center;
    padding: 10px 10px
}
h4 {
    font-size: 24px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.project a {
    text-decoration: none;
    font-size: 50px;
    font-family:  'Josefin Sans', sans-serif;
    color: rgb(255, 255, 255);
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(138, 115, 90, 0.555);
    filter:drop-shadow(50%);
    display:flex;
    justify-content: center;
    align-items: center;
}
.project a:hover {
    filter:none
}
.clear {
    clear: both;
}
.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    width: 500px;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    /* margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto; */
    padding-bottom: 50px;

}
#top {
    background-image: url(../images/hd-wallpaper-g9e2928496_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px; 
    padding-top: 1px;
}
#top h1 {
    margin: 180px 0 40px 0;
}

#projects {
    padding: 60px 0;
    text-align: center;
}
.kiri {
    margin: 0 auto;
    padding: 0 10px;
    width: 600px;
}
.kanan {
    margin: 0 auto;
    padding: 0 10px;
    width: 600px;
}
#projects article {
    width: 800px;
    height: 360px;
    float: left;
    background-color: #f5f5f5;
}
#projects article:first-child {
    margin-right: 20px;
}
#projects article .overlay-kiri {
    background: rgba(255, 255, 255, .95);
    height: 360px;
    width: 190px;
    padding: 40px;
}
#projects article .overlay-kanan {
    background: rgba(255, 255, 255, .95);
    height: 360px;
    width: 190px;
    padding: 40px;
}
article h4 {
    border-bottom: 1px solid #d85725;
    padding-bottom: 20px;
}
.more-link {
    border: 1px solid #d85725;
    color: #d85725;
    padding: 6px 20px;
    border-radius: 3px;
}
.more-link:hover {
    background-color: #d85725;
    color: #fff;
}

@media only screen and (max-width: 425px) {
    .kiri, .kanan {
        width: 100%
    }
    .kiri {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 990px) {
    .container {
        padding: 0 10px
    }
}